<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectmjurental"
    android:installLocation="auto">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">


        <activity android:name=".ReportActivity"></activity>
        <activity android:name=".RentalActivity"></activity>
        <activity android:name=".QRActivity"></activity>
        <activity android:name="org.tensorflow.demo.DetectorActivity"></activity>
        <activity android:name=".LoginActivity">

            <!-- 엑티비티 런쳐 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 엑티비티 런쳐 -->

        </activity>
        <activity android:name=".user.JoinActivity" />
        <activity android:name=".kakao.KakaoActivity">

            <!-- 카카오페이 어플 인증후 앱으로 다시 호출하기 위한 스키마 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="iamportkakao" />
                <!-- 로그인 액티비티 -->
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


</manifest>